/* body {
  background-color: pink;
}

.tContent {
  font-family: arial;
  text-align: center;
  margin-left: 550px;
}

#myEndBtn {
  background: lightgreen;
  color: red;
  border: 0;
  padding: 8px;
  border-radius: 15%;
  font-weight: 30px;
  font-family: "arial";
} */
.form-check {
  padding: 20px;
}
